<div class="row justify-content-center inner-row">
	<!-- Studio Pro 9 card -->
	<div class="card w-50">
	  <div class="card-body">
		<div class="row">
		  <a href="/customer-doc/"><h4 class="card-title-w-50">Customer Documentation</h4></a>
		</div>
		<p class="card-text"><ul class="landing-list">
		  <!-- Change links HERE -->
		  <li class="link-list"><a href="/customer-doc/opcenter-modular-manufacturing-documentation-home/">Opcenter Modular Manufacturing Documentation Home</a></li>
		  <li class="link-list"><a href="/customer-doc/opcenter-modular-manufacturing-release-notes/">Opcenter Modular Manufacturing Release Notes</a></li>
	  </div>
	</div>
	<!-- Studio 9 card -->
	<div class="card w-50">
	  <div class="card-body">
		<div class="row">
		  <a href="/release-notes/"><h4 class="card-title-w-50">Release Notes</h4></a>
		</div>
		<p class="card-text"><ul class="landing-list">
		  <!-- Change links HERE -->
	  </div>
	</div>
  </div>
  <div class="row justify-content-center inner-row">
	<!-- Developer Portal card, with added styling to keep title next to icon -->
	<div class="card w-50">
	  <div class="card-body">
		<div class="row" style="flex-wrap: inherit;">
		  <a href="/modularmom/"><h4 class="card-title-w-50">ModularMOM Guide</h4></a>
		</div>
		<p class="card-text"><ul class="landing-list">
		  <!-- Change links HERE -->
		  <li class="link-list"><a href="/modularmom/before-you-start/">Before You Start</a></li>
		  <li class="link-list"><a href="/modularmom/platform-concepts/">Platform Concepts</a></li>
		  <li class="link-list"><a href="/modularmom/understanding-the-modmom-metamodel/">Understanding the Mod MOM Metamodel</a></li></ul></p>
	  </div>
	</div>
	<!-- Marketplace card -->
	<div class="card w-50">
	  <div class="card-body">
		<div class="row">
		  <a href="/developer-guide/"><h4 class="card-title-w-50">Mod MOM Modules</h4></a>
		</div>
		<p class="card-text"><ul class="landing-list">
		  <!-- Change links HERE -->
	  </div>
	</div>
  </div>
  <div class="row justify-content-center inner-row">
	<!-- Data Hub card -->
	<div class="card w-50">
	  <div class="card-body">
		<div class="row">
		  <a href="/developer-guide/"><h4 class="card-title-w-50">Developer Guide</h4></a>
		</div>
		<p class="card-text"><ul class="landing-list">
		  <!-- Change links HERE -->
	  </div>
	</div>
	<!-- API MXSDK card -->
	<div class="card w-50">
	  <div class="card-body">
		<div class="row">
		  <a href="/api-and-sdk/"><h4 class="card-title-w-50">APIs & SDKs</h4></a>
		</div>
		<p class="card-text"><ul class="landing-list">
		  <!-- Change links HERE -->
		  <br>
		</ul></p>
	  </div>
	</div>
  </div>